<h1>Movies (with Chuck Norris)</h1>

<div class="movies-index">

  <div style="padding-bottom: 10px;">
    <p style="display: inline;">Sort movies by:</p>
    <select>
      <option value="date" selected="selected">release date</option>
      <option value="title">title</option>
      <option value="genre">genre</option>
    </select>
  </div>

  <ul class="main-list list-group"></ul>

  <script class="template" type="text/template">
    <%% movies.forEach(function (movie) { %>
      <li class="list-group-item"
        data-title="<%%= movie.title %>"
        data-date="<%%= movie.release_date %>"
        data-genre="<%%= genreCodes[movie.genre_ids[0]] %>">

        <a href="/movies/<%%= movie.id %>"><%%= movie.title %></a>
        <ul>
          <li>Release Date: <%%= movie.release_date %> </li>
          <li>Genre: <%%= genreCodes[movie.genre_ids[0]] %></li>
        </ul>
      </li>
    <%% }); %>
  </script>
</div>

<script type="text/javascript">
  $(function() {
    $('div.movies-index').moviesIndex();
  });
</script>
