<h1>Chuck Norris!</h1>

<div class="movies-index">
  <p>Sort by:</p>
  <select>
    <option value="date" selected="selected">Release Date</option>
    <option value="title">Title</option>
    <option value="genre">Genre</option>
  </select>

  <ul class="main-list"></ul>

  <script class="template" type="text/template">
    <%% movies.forEach(function (movie) { %>
      <li
        data-title="<%%= movie.title %>"
        data-date="<%%= movie.release_date %>"
        data-genre="<%%= genreCodes[movie.genre_ids[0]] %>"
      >
        <a href="/movies/<%%= movie.id %>"><%%= movie.title %></a>
        <ul>
          <li>Release Date: <%%= movie.release_date %> </li>
          <li>Genre: <%%= genreCodes[movie.genre_ids[0]] %></li>
        </ul>
      </li>
    <%% }); %>
  </script>
</div>
