<script type="text/javascript">
  $('ul.nav li').each(function (idx, li) {
    $li = $(li);
    if ($li.hasClass('reviews-tab')) {
      $li.addClass('active');
    } else {
      $li.removeClass('active');
    }
  });
</script>

<table class="table">
  <tr>
    <th>User Email</th>
    <th>Movie Title</th>
    <th>Rating</th>
    <th>Date</th>
  </tr>
  <% @reviews.each do |review| %>
  <tr>
    <td><%= review.email %></td>
    <td><%= review.movie_title %></td>
    <td>
      <% review.rating.to_i.times do %>
      <span class="glyphicon glyphicon-star" style="color: yellow;"></span>
      <% end %>
    </td>
    <td><%= review.created_at %></td>
  </tr>
  <% end %>
</table>
